/*
|| GENERAL STYLES
*/

body {
  background-color: #EAE7DE;
}


h1 {
  color: #FFF;
  font-size: 30px;
  text-align: left;
}


h1, h2 {
  font-family: "Oswald", sans-serif;
}


h2, h3, h4, p {
  color: #30271C;
}


h3, h4, p, ul {
  font-family: "Open Sans", sans-serif;
}


h2 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}


h3 {
  font-size: 18px;
  font-weight: bold;
}


h4 {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}


p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
}


.underline-home {
  display: block;
  border-width: 3px;
  border-color: #c7a17a;
  width: 25%;
}


.underline-about {
  display: block;
  border-width: 3px;
  border-color: #c7a17a;
  width: 16%;
}


.underline-menu {
  display: block;
  border-width: 3px;
  border-color: #c7a17a;
  width: 15%;
  margin-bottom: 70px;
}


.underline-team {
  display: block;
  border-width: 3px;
  border-color: #c7a17a;
  width: 11%;
}


.underline-contact {
  display: block;
  border-width: 3px;
  border-color: #c7a17a;
  width: 8%;
}


/*
|| HEADER
 */

.jumbotron p {
  color: #FFF;
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
  text-align: left;
}

.jumbotron.index-page {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0B0A07;
  padding-top: 0;
}

/* desktop - 1200px */
@media only screen and (min-width: 767px) {
  .jumbotron.index-page {
    background-image: url("https://res.cloudinary.com/ancaan/image/upload/v1596102943/fallon-michael-B_RPtfSiF-A-unsplash_bikg14.jpg");
  }
}

.jumbotron.about-page {
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0B0A07;
  padding-top: 0;
}

/* desktop - 1200px */
@media only screen and (min-width: 767px) {
  .jumbotron.about-page {
  background-image: url("https://res.cloudinary.com/ancaan/image/upload/v1596102993/tina-guina-obV_LM0KjxY-unsplash_ln3mzv.jpg");
  }
}

.jumbotron.team-page {
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0B0A07;
  padding-top: 0;
}

/* desktop - 1200px */
@media only screen and (min-width: 767px) {
  .jumbotron.team-page {
  background-image: url("https://res.cloudinary.com/ancaan/image/upload/v1592816277/barista222_uaqtqi.png");
  }
}

.jumbotron.menu-page {
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0B0A07;
  padding-top: 0;
}

/* desktop - 1200px */
@media only screen and (min-width: 767px) {
  .jumbotron.menu-page {
  background-image: url("https://res.cloudinary.com/ancaan/image/upload/v1596102944/our_menu_rpr0ww.jpg");
  }
}

.jumbotron.contact-page {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0B0A07;
  padding-top: 0;
}

/* desktop - 1200px */
@media only screen and (min-width: 767px) {
  .jumbotron.contact-page {
  background-image: url("https://res.cloudinary.com/ancaan/image/upload/v1592817243/ContactPic_fi9z9i.jpg");
  }
}

.navbar-brand img {
  width: 100px;
}

.navbar-nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}


.nav-item.active {
  text-decoration: underline;
}


/*
|| ABOUT US PAGE
*/

.img-about-page {
  display: inline-flex;
  height: 20%;
  width: 20%;
  color: #a77c50;
  padding-right: 20px;
}


/*
|| MENU PAGE
*/
#hotDrinks img, #coldDrinks img {
  width:100px;
  border-radius: 50%;
}

.menu-divider {
  border-top: 2px dotted #c7a17a;
}

/*
|| CONTACT US PAGE
*/

.fas {
  color: #c7a17a;
  font-size: 20px;
}

iframe {
  max-height: 300px;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.contact-details {
  line-height: 2;
  text-align: center;
}


/*
|| FOOTER
*/

.card-footer {
border: 0;
background-color: #161117;
padding-bottom: 30px;
padding-top: 30px;
margin-top: 30px;
}

.footer {
  text-align: center;
  font-size: 16px;
  color: #C0C0C0;
}
